@font-face {
    font-family: GOT;
    src: url(./GOT.ttf)
}

@font-face {
    font-family: ALEAWBB_;
    src: url(./ALEAWBB_.ttf)
}

body {
    font-family: ALEAWBB_;
    background-image: url(../images/knight.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#game-area {
    background-color:rgba(54,54,54,.75);
    color: antiquewhite;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
}

#title {
    font-family: GOT;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 36px;
    padding: 10px;
    color: antiquewhite;
}

#question-area {
    font-size: 18px;
}

#timer {
    font-size: 18px;
}

#start {
    /* color: rgb(209, 184, 42); */
    border-color: rgb(209, 184, 42);
}

#reset-button {
    margin-bottom: 25px;
}

#questions {
    height: 300px;
    margin-bottom: 20px;
}

img {
    margin: 0 auto;
}

.answer-button {
    margin: 5px;
}

/* media queries */
@media screen and (max-width: 350px) {

    #title {
        /* letter-spacing: 2px;
        word-spacing: 3px; */
        font-size: 24px;
    }
}

@media screen and (max-width: 640px) {

    #question-area {
        font-size: 12px;
    }

    #game-results {
        font-size: 12px;
    }
    
    #timer {
        font-size: 12px;
    }

    .answer-button {
        font-size: 12px;
    }


}